@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "MerriweatherLight";
    src: url(../fonts/Merriweather/Merriweather-Light.ttf);
    font-weight: 200;
}

/* --Global Styles -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Merriweather";
}

body {
    height: 100vh;
}

h1 {
    font-size: 2em;
}

/* -- Navigation --*/

header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 2rem;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

/* -- Section Welcome -- */

.welcome,
.applications,
.suggestions,
.examples,
.downloads,
.membership,
.suggestions {
    margin-left: 10%;
    margin-right: 10%;
}

.text-absurd p {
    font-family: "MerriweatherLight";
}

.text-imperfection p {
    font-family: "MerriweatherLight";
}

.text-expressiveness p {
    font-family: "MerriweatherLight";
}

.applications-text {
    margin-bottom: 2em;
}

.absurd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.expressiveness {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.applications {
    margin-bottom: 3em;
}

.membership {
    margin-bottom: 3em;
}

.imperfection p,
.absurd p,
.expressiveness p,
.applications p,
.examples p,
.downloads p {
    margin-top: 2em;
    max-width: 600px;
}

.imperfection {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.text-absurd {
    display: flex;
    flex-direction: column;
}

.text-imperfection {
    display: flex;
    flex-direction: column;
}

.text-expressiveness {
    display: flex;
    flex-direction: column;
}

.illu-lightbulb {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.illu-lightbulb img {
    width: 50%;
    height: auto,
}

.illu-imperfection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.illu-imperfection img {
    width: 50%;
    height: auto,
}

.illu-expressiveness {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.illu-expressiveness img {
    width: 50%;
    height: auto,
}

/* -- Section Applications -- */

.applications {
    margin-top: 5em;
}

.applications-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.illustrations-applications {
    display: flex;
    justify-content: center;
}

.illustrations-applications img {
    width: 30%;
    height: auto,
}

/* -- Section Applications -- */

.examples {
    margin-top: 5em;
}

.examples-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.images-examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    margin-top: 2em;
}

.images-examples img {
    width: 40%;
    height: auto,
}

/* -- Section Downloads -- */

.downloads {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.membership {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    background-color: rgb(199, 225, 225);
    border-radius: 1em;
    padding: 3em;
    width: min-content;
}

.price {
    margin-top: 0.7em;
    font-size: 4em;
}

.member {
    margin-top: 1em;
}

.member a {
    color: white;
    text-decoration: none;
}

.becomeMember {
    padding: 1em;
    padding: 1em;
    border-radius: 1em;
    background-color: rgb(0, 166, 255);
}

.benefits {
    margin-top: 1em;
    text-align: center;
    list-style: none;
}

/* -- Footer -- */

.suggestions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 2em;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    list-style: none;
}

.suggestions h1 {
    margin-bottom: 1em;
}

.email,
.followme {
    font-size: 0.9em;
    color: rgb(165, 157, 157);
}


/* -- Article Absurd - Buttons -- */

.buttons {
    display: flex;
    gap: 0.6em;
    margin-top: 1.5em;
}

.download a,
.subscribe a {
    color: black;
    text-decoration: none;
}

.download,
.subscribe {
    padding: 1em;
    border-radius: 10px;
}

.download {
    background-color: black;
}

.download a {
    color: white;
    text-decoration: none;
}

.subscribe {
    background-color: white;
    border: 2px solid black;
    border-style: inset;
}

.subscribe a {
    text-decoration: none;
    color: black;
}