@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "MerriweatherLight";
    src: url(../fonts/Merriweather/Merriweather-Light.ttf);
    font-weight: 200;
}

/* ----------------- Global Styles ---------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Merriweather";
}

body {
    height: 100vh;
}

h1 {
    font-size: 2em;
}

/* -- Navigation --*/

header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 2rem;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

/* -- Section Welcome -- */

.welcome {
    margin-left: 5em;
    margin-top: 5em;
    margin-right: 5em;
}

.text-absurd p {
    font-family: "MerriweatherLight";
}

.absurd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-absurd {
    display: flex;
    flex-direction: column;
}

.illu-lightbulb {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.illu-lightbulb img {
    width: 50%;
    height: fit-content;
}

.absurd p {
    margin-top: 2em;
}

/* -- Article Absurd - Buttons -- */

.buttons {
    display: flex;
    gap: 0.6em;
    margin-top: 1.5em;
}

.download a,
.subscribe a {
    color: black;
    text-decoration: none;
}

.download,
.subscribe {
    padding: 1em;
    border-radius: 10px;
}

.download {
    background-color: black;
}

.download a {
    color: white;
    text-decoration: none;
}

.subscribe {
    background-color: white;
}

.subscribe a {
    text-decoration: none;
    color: black;
}